@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ヘッダーのスタイル */
@layer components {
  .header {
    @apply bg-yellow-500 text-gray-600 p-3 md:pl-6 md:pr-6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .header-container {
    @apply container mx-auto flex flex-wrap p-0 flex-row items-center justify-between md:justify-normal;
  }

  .logo {
    @apply flex font-sans font-medium items-center text-gray-900 mb-0;
  }

  .logo-img {
    @apply w-[40px] h-[40px] md:w-[50px] md:h-[50px] bg-yellow-500 rounded-full;
  }

  .logo-text {
    @apply ml-3 text-xl md:text-3xl text-white;
  }

  .nav {
    @apply md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center hidden md:inline-block;
  }

  .nav a {
    @apply mr-5 text-2xl text-white;
  }

  .post-button {
    @apply inline-flex items-center bg-gray-100 border-0 py-2 px-3 focus:outline-none hover:bg-gray-200 rounded text-sm md:text-base md:mt-0;
  }

  .icon {
    @apply w-4 h-4 ml-1;
  }
}

/*広告のスタイル*/
aside {
  display: none;
}

@media (min-width: 1024px) {
  aside {
    display: flex;
    position: absolute;
    right: 3rem;
    top: 25%;
    flex-direction: column;
    gap: 1.5rem;
  }
}

/*先頭の文字*/
p {
  line-height: 1.6;
}

ul {
  padding-left: 1rem;
}

.italic {
  font-style: italic;
}

.text-blue-600 {
  color: bg-yellow-500;
}

.text-green-600 {
  color: bg-yellow-500a;
}

.bg-gray-100 {
  background-color: #f3f4f6;
}

.shadow-lg {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.rounded-lg {
  border-radius: 0.5rem;
}
