@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ヘッダーのスタイル */
@layer components {
  .header {
    @apply bg-yellow-500 text-gray-600 p-3;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .header-container {
    @apply container mx-auto flex flex-wrap p-3 flex-col md:flex-row items-center;
  }

  .logo {
    @apply flex font-sans font-medium items-center text-gray-900 mb-4 md:mb-0;
  }

  .logo-img {
    @apply w-[60px] h-[60px] bg-yellow-500 rounded-full;
  }

  .logo-text {
    @apply ml-3 text-3xl text-white;
  }

  .nav {
    @apply md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center;
  }

  .nav a {
    @apply mr-5 text-2xl text-white;
  }

  .post-button {
    @apply inline-flex items-center bg-gray-100 border-0 py-2 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0;
  }

  .icon {
    @apply w-4 h-4 ml-1;
  }
}
